/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  background: #03a9f4;
  transition: 0.5s;
}

html::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/imgs/bg1.jpeg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

html::after {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/imgs/bg2.jpeg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: 0.5s;
}

html.active {
  background: #f43648;
}

html.active::after {
  opacity: 1;
}

html.active .formBx::before {
  filter: hue-rotate(190deg);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  height: 100%;
  transition: 0.5s;
}

main .container {
  position: absolute;
  z-index: 1000;
  width: 800px;
  height: 600px;
  margin: 20px;
  padding: 0;
}

main .container .blueBg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 45px rgba(255, 255, 255, 0.35);
}

.blueBg .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s all;
}

.blueBg .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.blueBg .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.blueBg .box.signing {
  opacity: 0;
}

.formBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* z-index: 1000; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.formBx::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from var(--a),
    #45f3ff 0%,
    #45f3ff 10%,
    transparent 10%,
    transparent 80%,
    #45f3ff 100%
  );
  border-radius: inherit;
  animation: animate 2.5s linear infinite;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.formBx span {
  position: absolute;
  inset: 5px;
  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  border-radius: inherit;
}

.formBx span::before,
.formBx span::after {
  content: '';
  position: absolute;
  inset: 5px;
  background: url('/imgs/bg1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: inherit;
}

.formBx span::before {
  filter: blur(10px);
}

.formBx span::after {
  filter: blur(15px);
}

.formBx.active {
  left: 50%;
}

.formBx.active span::before,
.formBx.active span::after {
  background: url('/imgs/bg2.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.formBx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}

.formBx .form h3 {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.formBx div {
  transition-delay: 0.25s;
}

.formBx.active div {
  transition-delay: 0s;
}

.formBx.active .signinForm {
  left: -100%;
}

.formBx .registerForm {
  left: 100%;
}

.formBx.active .registerForm {
  left: 0;
}

.formBx .form form button {
  cursor: pointer;
  padding: 10px 20px;
  background: #03a9f4;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.formBx.active .form form button {
  background: #f43648;
}

.form form input,
.form form input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.15);
  padding: 6px 15px;
  border-radius: 4px;
  color: #fff;
}

.form form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 991px) {
  main .container {
    max-width: 400px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .container .blueBg {
    top: 0;
    height: 100%;
  }

  .formBx {
    width: 100%;
    height: 600px;
    top: 0;
    box-shadow: none;
  }

  .formBx.active {
    left: 0;
    top: 150px;
  }

  .blueBg .box {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
  }

  .box.signing {
    top: 0;
  }
}

.footer {
  z-index: 1001;
}
